{% extends "learning_logs/base.html" %}

{% block header %}
  <h2>{{ topic }}  <input type="button" class="btn btn-primary" value="del"  onClick='location.href="/topics/{{ topic.id }}/delete"'></h2>
{% endblock header %}

{% block content %}

  <p>
    <input type="button" class="btn btn-primary" value="Add a new entry"  onClick='location.href="/new_entry/{{ topic.id }}"'>
  </p>

  {% for entry in entries %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3>
          {{ entry.date_added}}
            <input type="button" class="btn btn-primary" value="Edit entry" onClick='location.href="/edit_entry/{{ entry.id }}"'>
            <input type="button" class="btn btn-primary" value="del entry" onClick='location.href="/del_entry/{{ entry.id }}"'>
        </h3>
      </div>
      <div class="panel-body">
        {{ entry.text|linebreaks }}
      </div>

    </div> <!-- panel -->
    {% empty %}
      <li>
        There are no entries for this topic yet
      </li>
    {% endfor %}
  </ul>



{% endblock content %}
